<launch>
  <node pkg="dynamic_reconfigure" type="dynamic_reconfigure-ref_server" name="ref_server" output="screen" >
  </node>

  <node pkg="dynamic_reconfigure" type="dynamic_reconfigure-ref_server" name="ref_server2" output="screen" >
    <param name="str_" value="134x" />
  </node>

  <node pkg="dynamic_reconfigure" type="dynamic_reconfigure-ref_server" name="ref_server3" output="screen" >
    <param name="str_" value="134" />
  </node>



  <test test-name="simple_cpp_client_test" pkg="dynamic_reconfigure" type="dynamic_reconfigure-test_client" />
</launch>
